*{
    padding: 0%;
    margin: 0%;
    
}

.row{
    display: flex;
    margin: 10px;
}

.col{
    margin: 15px;
}
h2{
    color: rgb(25, 25, 87);
    margin: 10px 0px 10px 0px;
    font-family: sans-serif;
}
p{
    margin: 3px 0px 3px 0px;
    letter-spacing: 0.2px;
    line-height: 1.5;
}
body{
    padding: 20px;
}